<header  class="row header" ng-controller="topNavCtrl" ng-show="show()">
 <nav>
    <div class="nav-wrapper teal">
      <a href="#" data-activates="sidebar-menu" class="button-collapse left"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="sidebar-menu">
        <li><a href="sass.html">News</a></li>
        <li><a href="badges.html">Messages</a></li>
        <li><a href="collapsible.html">Photos</a></li>
        <li><a href="mobile.html">About team</a></li>
      </ul>
    </div>
  </nav>
</header>
