<div class="background">
  <header class="header">
    <nav>
      <div class="nav-wrapper teal">
        <a ui-sref="homePage" class="brand-logo circle left">Stimul<span class="white-text">US</span></a>
        <ul class="right">
          <li><a class="modal-trigger waves-effect waves-light btn teal darken-4" href='#loginWindow' modal >Sign in</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="greeting">
    <h2 class='center-align '>Welcome to the Stimul<span class="white-text teal darken-4 circle">US</span></h2>
  </div>
	<div class="greeting-info">
   <!-- <p class='center-align'>With us you can:</p>-->
      <p>
        <i class="material-icons small">play_arrow</i>
        <span class="white-text">Learn more about people around you
      </p>
      <p>
        <i class="material-icons small">play_arrow</i>
        <span class="white-text">Find more about what you are intrested in
      </p>
      <p>
        <i class="material-icons small">play_arrow</i>
        <span class="white-text">Share your news
      </p>
	</div>
  <div class="modal" id="loginWindow">
    <div class=" valign-wrapper" >
      <div class="login-form containter valign center-align">
        <div class="row">
          <form class="col s12" name="userForm" novalidate >
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="login"  ng-model="temp.login" ng-minlength="3" name="login" required>
                <label for="login">Login</label>
				 <div ng-messages="userForm.login.$error" ng-if="userForm.login.$touched" class="error">
				   <div ng-message="required">This field is required.</div>
				   <div ng-message="minlength">The min length is 3.</div>
			     </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input type="password" id="password" ng-model="temp.password" ng-minlength="3" name="password" required>
                <label for="password">Password</label>
				<div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched" class="error">
				   <div ng-message="required">This field is required.</div>
				   <div ng-message="minlength">The min length is 3.</div>
			     </div>
              </div>
            </div>
            <div class="row">
  		        <div>
  			       <span ng-show="showError" class="error">A wrong password or user name.</span>
  			      </div>  
              <div class="modal-footer ">
               <button type="submit" class="modal-action btn waves-effect waves-light center-align teal darken-4" ng-click="isValid(login, password)" ng-disabled="userForm.$invalid">
                Sign in
                </button>
				<button type="submit" class="modal-action btn waves-effect waves-light center-align teal darken-4" ng-click="resetA(userForm)" >
                 Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
