<div class="background">
  <header class="header">
    <nav>
      <div class="nav-wrapper teal">
        <a href="#!" class="brand-logo circle left">Stimul<span class="white-text">US</span></a>
        <ul class="right ">
          <li><a class="waves-effect waves-light btn teal darken-4" ng-hide="hideBtn" ng-click="showLogin()">Sign in</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="greeting">
    <h2 class='center-align '>Welcome to the Stimul<span class="white-text teal darken-4 circle">US</span></h2>
  </div>
	<div class="greeting-info">
   <!-- <p class='center-align'>With us you can:</p>-->
      <p>
        <i class="material-icons small">play_arrow</i>
        <span class="white-text">Learn more about people around you
      </p>
      <p>
        <i class="material-icons small">play_arrow</i>
        <span class="white-text">Find more about what you are intrested in
      </p>
      <p>
        <i class="material-icons small">play_arrow</i>
        <span class="white-text">Share your news
      </p>
	</div>
  <div class="login-form-wrapper valign-wrapper" ng-show="isLogin" ng-click="hideLogin()">
    <div class=" login-form containter valign center-align" ng-click="$event.stopPropagation()">
      <div class="row">
        <form action="" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" id="login"  ng-model="login">
              <label for="login">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input type="password" id="password" ng-model="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <button  class="btn waves-effect waves-light center-align teal darken-4" ng-click="isValid(login, password)">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
