<div class="profile-wrapper">
  <div class="user">
    <div class="row user-image">
      <div class=" col s12 center-align">
        <img ng-src={{userData.avatar}} class="circle responsive-img profile-img">
      </div>
    </div>

    <div class="animate-switch-container" ng-switch on="selection">

      <div class="animate-switch" ng-switch-when="stable">
        <div class="container inner-container-min center-align">
          <div class="row user-info">
            <table class="centered bordered">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{userData.firstName + ' ' + userData.lastName}}</td>
                </tr>
                <tr>
                  <td>Age</td>
                  <td>{{userData.age}}</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td>{{(userData.gender === 'F') ? 'Female' : 'Male'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
              <button class=" waves-effect waves-light btn center-align " ng-click="profileEdit()" >Edit</button>
          </div>
        </div>
      </div>

      <div class="animate-switch" ng-switch-when="edit">
        <div class="row user-info ">
          <form class="profile-form">
            <div class="container inner-container-min profile-form-container">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                    <span>Name : </span> {{userData.fullName}}
                    <i class="material-icons right">arrow_drop_down</i>
                  </div>
                  <div class="collapsible-body">
                    <form name="formName" ng-submit="onSubmit(formName)" novalidate>
											<input type="text" ng-model="userData.fullName" ng-change="validName()"
											placeholder = "Name" class="inMargin" ng-pattern = "/^([a-zA-Zа-яА-ЯёЁ\s]*)$/" />
											<span ng-show="showError">Not a valid number !</span>
										</form>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <span>Age : </span> {{ userData.age}}
                    <i class="material-icons right">arrow_drop_down</i>
                  </div>
                  <div class="collapsible-body">
                    <form name="formAge" ng-submit="onSubmit(formAge)" novalidate>
											<input type="text" ng-model="userData.age"  ng-change="validAge()"
											placeholder="Age" class="inMargin" ng-pattern = "/^(0|[1-9][0-9]*)$/" />
											<span ng-show="showError">Not a valid number !</span>
										</form>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <span>Gender : </span> {{(userData.gender === 'M') ? 'Male' : 'Female'}}
                     <i class="material-icons right">arrow_drop_down</i>
                  </div>
                  <div class="collapsible-body">
                    <p>
                      <input class="with-gap" name="gender" type="radio" ng-model="userData.gender" id="genderMale" value="M" />
                      <label for="genderMale" class="inMargin">Male</label>
                    </p>
                    <p>
                      <input class="with-gap" name="gender" type="radio" ng-model="userData.gender" id="genderFemale" value="F" />
                      <label for="genderFemale" class="inMargin">Female</label>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <button class=" waves-effect waves-light btn center-align " ng-click="profileSave()" >Save</button>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>