
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.input-field{

  margin:0px;
  label{
    font-size:20px!important;
  }
}

textarea.materialize-textarea{
  padding:0px!important;
  margin-top:10px;
 
}
textarea:focus{
  font-size:20px;
}
.row{
  padding:0px;
}
.messages-window{
  margin-top:20px;
  position:relative;
  padding:20px 0;
  border:2px solid #455a64;
  height:72vh;
  border-radius:5px;
  overflow-y:auto;
  font-size:18px;
}

.message-incoming{
  left:15px;
  width:50%;
}
   .message-incoming {
    display:inline-block;

    border: 2px solid #455a64;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    position: relative;
   }
   .message-incoming::before, .message-incoming::after {
    content: ''; 
    position: absolute;
    left: 20px;
    bottom: -22px;
    border: 10px solid transparent;
    border-top: 10px solid #455a64;
   }
   .message-incoming::after {
    border-top: 10px solid white;
    bottom: -19px; 
   }



.message-author{
display:inline-block;
  margin-top:10px;
}
.message-time{
  position:absolute;
  bottom:10px;
  right:10px;
}

.message-outcoming{
  display:inline-block;
  width:50%;
    border: 2px solid #455a64;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    position: relative;
        left: calc(100% - 54%);
}
.message-wrapper{
  position:relative;
  height:auto;
  margin-top:30px;
}

.message-info{
  font-size:16px;
  color: #00897b;
}

   .message-outcoming::before, .message-outcoming::after {
    content: ''; 
    position: absolute;
    right: 20px;
    bottom: -22px;
    border: 10px solid transparent;
    border-top: 10px solid #455a64;
   }
   .message-outcoming::after {
    border-top: 10px solid white;
    bottom: -19px; 
   }