$white:#fff;
$teal:#26a69a;
$teal_darken:#00796B;
$teal_lighten:#009688;
/*---------added google icons ----------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
body {
  min-height:500px;
  position: relative;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.disable {
 position: relative;
}
.disable:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  content: "";
}
.background{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.brand-logo{
  color:$teal_darken!important;
}
.login-form{
  width:100%;
  padding-top:25px;
}
.modal{
  top: 0!important;
  min-width: 350px!important;
  width: 35%!important;
  border-radius: 30px;
  margin:0 auto;
  position:relative;
}
.nav-wrapper{
  color: $teal_darken!important;
}
.user-image{
  padding: 25px 0 20px;
  background-color: $teal_lighten;
}
.profile-img{
  max-height:150px;
}
.profile-form{
  text-align:center;
  &-container{
  text-align:left;
  }
}

.header{
  margin-bottom:0!important;
}
.greeting {
  color:$teal_darken;
  margin: 0 auto;
  margin-top: 70px;
  width: 360px;
  text-shadow: 0 0 5px white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.profile-wrapper{
  height:100vh;
  /* background-color:$teal_lighten; */
}
.white-text{
  color:$white;
}
.inMargin{
  font-size:20px!important;
  text-indent:15px!important;
}
table,.collapsible{
  font-size:20px!important;
}
.greeting-info-wrapper {
  text-align: center;
}
.greeting-info {
  display: inline-block;
  padding: 15px 5px;
  width: 360px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
	position: absolute;
	bottom: 50px;
  margin-left: -180px;
	font-size:18px;
}
.error{
	color:red;
}
.collapsible-body{
  label{
    color:black;
  }
}
@media only screen and (min-width : 720px) {
  .background {
    background-image: url("../img/bg-desktop.jpg");
  }
}
@media only screen and (min-width : 600px) {
  .greeting-info {
    padding: 15px;
    width: 500px;
    background-color: rgba(0,0,0,0.5);
    bottom: 50px;
    margin-left: -250px;
    font-size:20px;
  }
  .greeting {
    margin-top: 20px;
    width: 500px;
  }
  .greeting h2 {
    font-size: 70px;
  }
}
.side-nav{
  background-color:#004d40;
  a{
    color: white;
    font-size:18px;
  }
}
.container.inner-container-min {
  width: 400px;
}
.user-info {
  padding-top: 15px;
}