/*---------added google icons ----------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2"); }

body {
  padding: 0;
  margin: 0;
  min-height: 500px;
  position: relative; }

/* .wrapper-header {
  position: absolute;
  width: 100%;
} */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.disable {
  position: relative; }

.disable:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  content: ""; }

.background {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.brand-logo {
  color: #003320 !important; }

.login-form {
  width: 100%;
  padding-top: 25px; }

.modal {
  top: 0 !important;
  min-width: 250px !important;
  width: 35% !important;
  border-radius: 30px;
  margin: 0 auto;
  position: relative; }

.user-image {
  min-height: 201px;
  padding: 25px 0 20px;
  background-color: #009688; }

.profile-img {
  max-height: 150px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); }

.profile-form {
  text-align: center; }
  .profile-form-container {
    text-align: left; }

.header {
  margin-bottom: 0 !important; }

.greeting {
  color: #00796B;
  margin: 0 auto;
  margin-top: 70px;
  width: 360px;
  text-shadow: 0 0 5px white; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.white-text {
  color: #fff; }

.inMargin {
  font-size: 20px !important;
  text-indent: 15px !important; }

table, .collapsible {
  font-size: 20px !important; }

.page-wrapper {
  position: relative; }
  .page-wrapper .greeting-info-wrapper {
    text-align: center; }
  .page-wrapper .greeting-info {
    display: inline-block;
    padding: 15px 5px;
    width: 360px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: absolute;
    bottom: 50px;
    margin-left: -180px;
    font-size: 18px; }

.error {
  color: red; }

.collapsible-body label {
  color: black; }

.collapsible-header {
  position: relative; }

@media only screen and (min-width: 720px) {
  .background {
    background-size: 100vw 100vh;
    background-image: url("../img/bg-desktop.jpg"); } }

@media only screen and (max-height: 500px) {
  .greeting-info {
    display: none !important; } }

@media only screen and (min-width: 600px) {
  .greeting-info {
    padding: 15px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 50px;
    margin-left: -250px;
    font-size: 20px; }
  .greeting {
    margin-top: 20px;
    width: 500px; }
  .greeting h2 {
    font-size: 70px; } }

@media only screen and (min-width: 992px) {
  .wrapper {
    margin-left: 240px; } }

.side-nav.fixed {
  background-color: #004E43; }
  .side-nav.fixed li {
    padding: 0px; }
    .side-nav.fixed li:hover {
      background-color: rgba(0, 0, 0, 0.5); }
  .side-nav.fixed a, .side-nav.fixed i {
    color: white;
    font-size: 22px;
    background-color: #004E43;
    vertical-align: middle; }
  .side-nav.fixed i {
    vertical-align: middle;
    margin-right: 20px;
    font-size: 24px; }

.container.inner-container-min {
  width: 380px; }

.user-info {
  padding-top: 15px; }

.menu-icons, .menu-link {
  display: inline-block !important; }

.modal-footer.center-align .btn {
  float: none; }

.message-from {
  color: #777; }

.message-title {
  position: absolute;
  left: 0;
  margin-left: 75px; }

.message-date {
  color: #777; }

.title-color {
  color: white;
  background-color: #009688;
  margin: 0;
  padding: 15px 0;
  box-shadow: 0 10px 0 #009688; }

.cost-sorting {
  width: 100px; }

.history-search {
  padding-left: 10px !important; }
